* {
    margin: 0;
    padding: 0;
  }
 
.banner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 300px;
  height: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;


  }
  .title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: black;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  nav {
  
    background-color: rgb(0, 0, 0);
  }
  
  nav ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    margin-left: 3rem;
  }
  
  nav li a {
    display: block;
    color: #f9f9f9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }
    
  nav li a:hover {
    background-color: #b00b0b;
  }
 
  .vision{
    height: auto;
    text-align: center;
    margin: 2rem 2rem 5.5rem 2rem;
  }
  .vision h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: black;
    text-align: center;
    margin-bottom: 1rem;
  }
  .vision video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    width: 50%;
    width: 400px;
    height: 400px;
  }
  .vision p{
    margin: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: black;
    text-align: center;
  }
  .prefooter{
    box-sizing: border-box;
    text-align: center;
    background-color: black;
    display: grid;
    height: 45vh;
    width: 100%;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: 
    'logo link'
    'email links';
    row-gap: auto;
  }

  .Final img {
    grid-area: logo;
    border-radius: 50%;
    width: 7rem;
    border: 1px solid#ffffff;
    border-left: 1px solid #b00b0b;
    border-top: 1px solid #b00b0b;
    margin: 1rem;
  }
  .preText{
    grid-area: email;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: rgb(248, 244, 244);
    text-align: center;
    margin: 1rem;
  }
  .preText span{
    color: #b00b0b;
  }
  .Clinks{ 
    align-self: center;
    grid-area: link;
    color: #f9f9f9;
  }
  .Clinks h5{ 
    margin: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1rem;
  }
  .links li{
    align-self: center;
    grid-area: links;
    list-style-type: none;
    margin: 0.6rem;
  }
  .links a{
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .links a:hover{
    color: #b00b0b;
    text-decoration: underline;
  }
  footer{
    background-color: black;
    color: #f9f9f9;
    text-align: center;
    border: 1px solid white;
    font-size: small;
    padding: 0.4rem;
  }
  .login{
    background-color: black;
  }
  .loginHead {
    text-align: center;
    box-sizing: border-box;
    height: 30vh;
    width: 100%;
    background-color: black;
  }
  .loginHead img {
    height: 150px;
    border-radius: 50%;
    margin-top: 0.4rem;
    border: 2px solid #b00b0b;
    box-shadow: 0px 5px 10px 10px rgba(241, 238, 238, 0.162);
  }
  .loginMain{
    margin: 2rem;   
    text-align: center;
    
  }
  .logInForm{
    color: rgb(249, 248, 248);
    box-shadow: 0px 5px 10px 10px rgba(241, 238, 238, 0.162);
    border-radius: 10px;
    height: 50vh;
    margin: auto;
    max-width: 500px;
   }
   .hidden {
    display: none;
  }
  
  #error-box {
    background-color: #b00b0b;
    color: white;
    padding: 10px;
    margin-top: 10px;
  }

   input {
    border-radius: 5px;
    margin: 1.5rem;
    padding: 10px 15px;
    width: 250px;
    box-shadow: inset 0px 10px 20px 2px rgba(89, 91, 91, 0.7);
   }
   .logInForm button{
    margin: 2rem;
    padding: 5px 30px;
   }
   .logInForm button:hover{
    margin: 2rem;
    padding: 5px 30px;
    box-shadow: 0px 5px 10px 0px rgba(186, 18, 18, 0.7);

   }
   .form-p p:hover{
    color: #b00b0b;
    text-decoration: underline;
   }
   .reports{
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
    margin: auto;
   }
   .reportsHead {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 3rem;
    gap: 2rem;
   }
   .reportGrid{
    margin: 1rem;
   }
   .reportList{
    text-align: center;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
   }
   .reportCard{
    border-collapse: collapse;
    table-layout: auto;
    height: 400px;
    width: 100%;
    background-color: #000000c1;
    border: 1px solid rgb(0, 0, 0);
   }
   .reports h1{
    text-align: center;
    border-bottom: 1px solid #000000;
    padding-bottom: 1rem;
   }
   .reports th{
    background-color: #000000;
    box-shadow: inset 0px 5px 10px 0px rgba(99, 97, 97, 0.7);
    color: #ffffff;
    height: 40px;
   }
   .reports tr {
    height: 15px;
   }
   .reports td{
    color: #ffffff;
    text-align: center;
    align-items: center;
   }
   .small{
    width: 25%;
   }
   .reports a{
    text-decoration: none;
    color: #b00b0b;
   }
   .reports a:hover{
    text-decoration: underline;
    color: #b00b0b;
    font-weight: bolder;
    box-shadow: 0px 5px 10px 0px rgba(186, 18, 18, 0.7);
   }
   .reports span{
    color: #b00b0b;
   }
   #sev, #sev2{
    background-color: #b00b0b;
   }
   .cameraList{
    text-align: center;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
   }
   .card {
    height: 400px;
    width: 100%;
    background-color: #000000c1;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .card-header {
    background-color: #f5f5f5;
    padding: 10px;
  }
  .card-title {
    margin: 0;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
  }  
  
  .card-location {
    margin-bottom: 10px;
  }
  
  .card-location a {
    text-decoration: none;
    color: #b00b0b;
  }
  .card-location a:hover{
    text-decoration: underline;
    color: #b00b0b;
    font-weight: bolder;
    box-shadow: 0px 5px 10px 0px rgba(186, 18, 18, 0.7);
   }
  
  
   
   