<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cssStyle.css">
    <title>VADS</title>
</head>

<body>
    <header class="banner">
        <img src="../Media/Logo.jpeg" alt="">
        <h1 class="title">Vehicle Accident Detection System</h1>
    </header>
    <nav>
        <ul>
            <li id="loginPage"><a href="./login.html">Accidents Reports</a></li>
            <li id="AIPage"><a href="https://idk-hazel-tau.vercel.app/">AI Accident Detector</a></li>
        </ul>
    </nav>

    <main id="main-content" class="main-content">
        <section class="vision" id="vision">
            <h3>Our Vision</h3>
            <video controls src="../Media/VADS2.mp4" width="300" height="300" class="videos"></video>
            <p class="visionP">
                "Our vision is to reduce the vehicle accidents reporting time by detecting the accidents as quickly as possible, which results in saving passengers' lives, providing them with fast response and treatment, and reducing road blockage." 
                
            </p>
            <br>
                <br>
            <h3>Our Objectives</h3>
            <br>
            <p>
                The system aims to accelerate response time by utilizing AI image processing and object detection technology to detect accidents promptly, generate reports, and send them to the authorities. Collecting accurate accident data, including information about the vehicle's conditions and accident severity, can give valuable insights for analysis and understanding. Efficient accident alerts are sent to the appropriate authority based on the accident's severity, ensuring prompt action. The system optimizes authority allocation by utilizing GPS location data to identify the nearest competent authority, streamlining resource allocation. Minimizing errors and reducing human interaction enhances operational speed and accuracy. Additionally, the system contributes to traffic flow management by swiftly contacting maintenance companies to remove obstacles, thus minimizing road blockages resulting from accidents and improving overall road safety.

            </p>
        </section>
        <section class="prefooter">
            <section class="Final">
                <img src="../Media/Logo.jpeg" alt="">
                <p class="preText">
                Thanks for visiting our website. You can <br> email us - <span>VDSsystem0@gmail.com</span> 
            </p>
            </section>
            <section class="Clinks">
                <h5>Communication</h5>
                <ul class="links">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
            </section>
        </section>
    </main>
    <footer>
        Copyrights @2023 
    </footer>
</body>

</html>